<main>
    <!-- Start of information section -->
    <section class="information">
        <div class="main-container">
            <div class="offer">
                <div class="offer-info">
                    <p class="tagline1">What do you want to learn?</p>
                    <h3>What We Offer</h3>
                    <p class="tagline2">I want to learn</p>
                </div>
                <div class="offer-flag">
                    <div class="offer-flag-child1">
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam reiciendis, error reprehenderit adipisci voluptatem soluta velit, beatae repudiandae pariatur quibusdam unde praesentium commodi? Libero?</p>
                    </div>
                    <div class="offer-flag-child2">
                        <img class="flag-item" src="../assets/icons/Saint Barthélemy (BL).svg" alt="France-Flag">
                        <img class="flag-item" src="../assets/icons/Saint Barthélemy (BL) (1).svg" alt="China-Flag">
                        <img class="flag-item" src="../assets/icons/Saint Barthélemy (BL) (2).svg" alt="Germany-Flag">
                        <img class="flag-item" src="../assets/icons/Saint Barthélemy (BL) (3).svg" alt="Japan-Flag">
                        <img class="flag-item" src="../assets/icons/Saint Barthélemy (BL) (4).svg" alt="Flag">
                        <img class="flag-item" src="../assets/icons/Saint Barthélemy (BL) (5).svg" alt="Flag">
                        <img class="flag-item" src="../assets/icons/Saint Barthélemy (BL).png" alt="Spain-Flag">
                        <div class="view-all">
                            <p>View All</p>
                            <img src="../assets/icons/Arrow - Down 3.svg" alt="Arrow">
                        </div>
                    </div>
                </div>
            </div>
            <div class="purchase">
                <div class="text-content">
                    <h3>Purchase your awesome lessons and find your tutors</h3>
                    <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam at sed fuga ut dicta quo a doloribus quibusdam. Velit, quisquam.</p>
                    <div class="btn-container">
                        <button class="btn buy">Book Your Lessons</button>
                        <button class="btn find">Find Your Tutors</button>
                    </div>
                </div>
                <div class="circle-container">
                    <img src="../assets/images/Group 15.png" alt="Main Tutor">
                </div>
            </div>
        </div>
    </section>
    <!-- End of information section -->
</main>
