<main>
    <!-- Start of hero section -->
    <section class="hero">
        <div class="hero-content">
            <p class="tagline">We are The Best</p>
            <h3>
                Learn Frome Home With <span class="highlight">The Best</span> Online
                Languange Tutors
            </h3>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id interdum dui mollis. Suspendisse nulla:
            </p>
            <button class="cta">Try Free Lessons</button>
        </div>
        <figure class="tutor-section">
            <img src="../assets/images/Group 310.png" alt="Tutor image">
        </figure>
    </section>
    <!-- End of hero section -->
    <!-- Start of Service section -->
    <section class="service">
        <div class="container">
            <div class="container-content">
                <div class="text-content">
                    <h3>What Will You <span>Get</span> ?</h3>
                    <p class="description">
                        Lorem ipsum dolor voluptatibus, adipisicing consectetur <br>amet elit. Rem natus nihil sit <br>accusamus ab!
                    </p>
                </div>
                <div class="aim-content">
                    <include src="./components/aimList.html" locals='{
                        "list":[{"contentA": "1-on-1 lessons in more than 150 languages", "contentB": "Learn from certified teachers with proven experience.."},
                                {"contentA": "Pratice for free with the italki community", "contentB": "Devolop your language skills by building connection with others.."},
                                {"contentA": "Take learning beyond the classroom", "contentB": "Learn from certified teachers with proven experience.."}]
                    }'></include>
                </div>
            </div>
            <figure class="container-img">
                <img src="../assets/images/Group 314.png" alt="Person">
            </figure>
        </div>
    </section>
    <!-- End of Service section -->
</main>
