<main>
    <!-- Start of Instruction section -->
    <section class="instruction">
        <div class="container">
            <div class="instruction-content">
                <div class="text">
                    <h3>Here's is how it <span>work</span></h3>
                    <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt assumenda omnis incidunt, aliquid ipsum ducimus libero sit autem maiores! Nisi.</p>
                </div>
                <div class="work">
                    <ul>
                        <li class="work-item">
                            <div class="work-item-icon icon-1st">
                                <img src="../assets/icons/Group 21.svg" alt="icon">
                            </div>
                            <div class="work-item-content">
                                <p class="content-title">Find a tutor</p>
                                <p class="content-description">Choose your ideal teacher from over 10,000 qualified languages tutors</p>
                            </div>
                        </li>
                        <li class="work-item">
                            <div class="work-item-icon icon-layer">
                                <img class="img1" src="../assets/icons/Group 21.png" alt="layer">
                                <img class="img2" src="../assets/icons/Calendar.svg" alt="icon">
                            </div>
                            <div class="work-item-content">
                                <p class="content-title">Book a lesson</p>
                                <p class="content-description">Select a lesson time and add it to their calendar</p>
                            </div>
                        </li>
                        <li class="work-item">
                            <div class="work-item-icon icon-layer">
                                <img class="img1" src="../assets/icons/Group 21.png" alt="layer">
                                <img class="img2" src="../assets/icons/bi_laptop-fill.svg" alt="icon">
                            </div>
                            <div class="work-item-content">
                                <p class="content-title">Start learning</p>
                                <p class="content-description">Simple as that, you are learning a language</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="instruction-img">
                <img src="../assets/images/Group 315.png" alt="video">
            </div>
        </div>
    </section>
    <!-- End of Instruction section -->
</main>
